<div class="container py-5">

  <div class="row pt-5" >
    <div class="WhereTo ">
      <h4 class="mt-1">WHERE TO STAY</h4>
    </div>
  </div>

<div class="row pt-5">
    <!-- Team Member 1 -->
    <div class="col-xl-6 col-md-6 mb-4" >
      <div class="card border-0 shadow" routerLink="/guest-house">
        <img src="../../assets/Untitled-1.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Guest House</h5>
          <div class="card-text text-black-50">Click to see options</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-6 col-md-6 mb-4" >
      <div class="card border-0 shadow" routerLink="/resort">
        <img src="../../assets/488556_17041317100052375189.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Resort</h5>
          <div class="card-text text-black-50">Click to see options</div>
        </div>
      </div>
    </div>
   
  </div>
  <!-- /.row -->
</div>


