<!--Navbar content starts here-->
<nav class="navbar  navbar-expand-lg navbar-light bg-white shadow fixed-top">
 <div class="container">
  <a class="navbar-brand brand">Puducherry</a>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="where-to-go" aria-disabled="true">WHERE TO GO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="where-to-stay" aria-disabled="true">WHERE TO STAY</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="vehicle-for-rent" aria-disabled="true">VEHICLE FOR RENT</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#" aria-disabled="true">THINGS TO DO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" aria-disabled="true">PLAN YOUR TRIP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" aria-disabled="true">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
      </li>
    </ul>
  </div>
</div>
</nav>

<!--Navbar content ends here-->

<router-outlet></router-outlet>
 
<footer class="py-4 bg-dark text-white-50 ">
  <div class="container text-center">
    <small>Copyright &copy; Pondicherry</small>
  </div>
</footer>