@font-face {
  font-family: Pristina;
  src: url('../assets/pristina/Pristina.ttf');
}
.brand{
    font-family: "Pristina";
    font-size: 25px;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;

   }