<!-- Page Content -->

<div class="container pt-5">

  <!-- Page Heading -->
  <div class="row pt-5" >
      <div class="WhereTo ">
        <h4 class="mt-1">WHERE TO STAY</h4>
      </div>
    </div>

  <div class="row pt-2" *ngFor="let place of places; let i = index">
    <div (click)="openList(place.name)" *ngIf="i%2==0" class="col-lg-6 p-5">
      <div class="card shadow">
        <div class="thumbnail p-2">
            <img class="card-img-top" height="300px" src="{{place.url}}" alt="">
        </div>        
        <div class="card-body text-center">
          <h5 class="text-uppercase">{{place.name}}</h5>
          <p class="card-text text-black-50">Click to see details</p>
        </div>
      </div>
    </div>
    <div (click)="openList(places[i+1].name)" *ngIf="i%2==0" class="col-lg-6 p-5">
      <div class="card shadow">
        <div class="thumbnail p-2">
            <img class="card-img-top" height="300px" src="{{places[i+1].url}}" alt="">  
        </div>
       
        <div class="card-body text-center">
          <h5 class="text-uppercase">{{places[i+1].name}}</h5>
          <p class="card-text text-black-50">Click to see details</p>
        </div>
      </div>
    </div>
    
    
  </div>
  <!-- /.row -->

  <!-- Pagination 
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul>-->

</div>
<!-- /.container -->
