<div class="container py-5">

    <div class="row pt-5" >
      <div class="WhereTo ">
        <h4 class="mt-1">VEHICLE FOR RENT</h4>
      </div>
    </div>
    <div class="row pt-5">
      <div>
        <p class="mx-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi recusandae illum, ipsa eum nulla corporis quibusdam, tempore doloremque deleniti, perferendis quod veniam adipisci similique beatae quis alias possimus corrupti sed?</p>
      </div>
    </div>
  
  <div class="row pt-5">
      <!-- Team Member 1 -->
      <div class="col-xl-6 col-md-6 mb-4" >
        <div class="card border-0 shadow" routerLink="/rental-cars">
          <img src="./assets/rentals/carforRent.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">CAR</h5>
            <div class="card-text text-black-50">Click to see options</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-6 col-md-6 mb-4" >
        <div class="card border-0 shadow" routerLink="/rental-bikes">
          <img src="./assets/rentals/BikesforRent.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">BIKE</h5>
            <div class="card-text text-black-50">Click to see options</div>
          </div>
        </div>
      </div>
     
    </div>
    <!-- /.row -->
  </div>
  
  
  