<header class="masterHead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">

      </div>
    </div>
  </div>
</header>

<hr class="mt-5" align="center" width="30%">

<!-- Page Content -->
<section class="py-5">
  <div class="row" >
    <div routerLink="where-to-go" class="WhereTo ">
      <h4 class="mt-1">WHERE TO GO</h4>
    </div>
  </div>

  <div class="container py-5">
  <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4" [routerLink]="['/list']" [queryParams]="{ id: 'Beach'}">
        <div class="card border-0 shadow">
          <img src="./assets/Pondicherry-promenade-beach.png" height="180px" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Beach</h5>
            <!--<div class="card-text text-black-50">..</div>-->  
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4" [routerLink]="['/list']" [queryParams]="{ id: 'Temple'}">
        <div class="card border-0 shadow">
          <img src="./assets/Church-of-the-Sacred-Heart-of-Jesus-kb6592.jpg" height="180px" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Temple</h5>
           <!--<div class="card-text text-black-50">..</div>-->  
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4" [routerLink]="['/list']" [queryParams]="{ id: 'Boating'}">
        <div class="card border-0 shadow">
          <img src="./assets/Deluxe_House_Boats.jpg" height="180px" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Boating</h5>
           <!--<div class="card-text text-black-50">..</div>-->  
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4" [routerLink]="['/list']" [queryParams]="{ id: 'Others'}">
        <div class="card border-0 shadow">
          <img src="./assets/Pondicherry-Aayi-mandapam.png" height="180px" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Others</h5>
          <!--<div class="card-text text-black-50">..</div>-->  
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>  
  <hr align="center" width="30%">
  
</section>

<section class="py-5">
    <div class="row" >
      <div class="WhereTo ">
        <h4 class="mt-1">WHERE TO STAY</h4>
      </div>
    </div>
  
    <div class="container py-5">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-6 col-md-6 mb-4" [routerLink]="['/list']" [queryParams]="{ id: 'GuestHouse'}">
          <div class="card border-0 shadow">
            <img src="./assets/Untitled-1.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Guest House</h5>
             
            </div>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-6 col-md-6 mb-4" [routerLink]="['/list']" [queryParams]="{ id: 'Resort'}">
          <div class="card border-0 shadow">
            <img src="./assets/488556_17041317100052375189.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Resort</h5>
              
            </div>
          </div>
        </div>
       
      </div>
      <!-- /.row -->
    </div>
    <hr align="center" width="30%">
    
  </section>